html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffcf8;
  justify-content: center;
  margin: 0;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.buttonWrapped {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 30px;
  align-items: center;
}

.houseSymbol {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.houseSymbol>.material-symbols-outlined {
  font-size: 50px;
  color:#6B7862;
}

.buttonSide {
  display: flex;
  gap: 72px;
}

.button {
  background-color: #fffcf8;
  border: 1px solid #6B7862;
  color: #6B7862;
  padding: 8px 33px;
  border-radius: 8px;

}

.button:hover {
  background-color: #6B7862;
  color: #fffcf8;
  transform: scale(1.1);
  cursor: pointer;
}

.ram {
  background-color: #B6C7AA;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph {
  text-align: left;
  padding: 30px;
  letter-spacing: .1em;
  line-height: 2;
  font-family: "Inter", sans-serif;
  color: #6B7862;
}

.title {
  font-size: 46px;
  color: #6B7862;
}

.text {
  font-size: 20px;
  color:#6B7862;
}

.logo {
  text-align: right;
  width: 50%;
  display: flex;
  max-width: 100%;
  padding: 30px;
  align-items: center;
}

h2,
h3 {
  font-family: "Inter", sans-serif;
  justify-content: center;
  display: flex;
  color: #6B7862;
  font-size: 46px;
}

.contactForm {
  font-size: 20px;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  width: 30rem;
  justify-content: center;
  gap: 1rem;
}

.textSubscribe {
  margin-top: 0;
}


.corner1 {
  border-radius: 8px;
  border: none;
  height: 1rem;
  justify-content: center;
  display: flex;
  cursor: pointer;
  padding: 10px;
}

.corner2 {
  border-radius: 8px;
  border: none;
  height: 1rem;
  justify-content: center;
  display: flex;
  cursor: pointer;
  padding: 10px;
}

.corner3 {
  border-radius: 8px;
  border: none;
  height: 1rem;
  justify-content: center;
  display: flex;
  cursor: pointer;
  padding: 20px;
  padding-left: 10px;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.buttonSubmit {
  background-color: #fffcf8;
  border: 1px solid #6B7862;
  color: #6B7862;
  padding: 8px 33px;
  border-radius: 8px;
}

.buttonSubmit:hover {
  background-color: #6B7862;
  color: #fffcf8;
  transform: scale(1.1);
  cursor: pointer;
}

.circles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.group1, .group2 {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.circle {
  background: #B6C7AA;
  color: #6B7862;
  font-family: sans-serif;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1em;
  opacity: 0.9;
  position: relative;
}

.circle:nth-child(1) {
  width: 198px;
  height: 198px;
  opacity: 90%;
  transform: translateY(12px);
}

.circle:nth-child(2) {
  width: 299px;
  height: 299px;
  opacity: 0.9;
  transform: translateY(11px);
}

.circle:nth-child(3) {
  width: 270px;
  height: 270px;
  opacity: 30%;
  transform: translateY(-15px);
}

.circle:nth-child(4) {
  width: 240px;
  height: 240px;
  opacity: 0.8;
  transform: translateY(25px);
}

.circle p {
  font-size: 1em;
  line-height: 1.3em;
}
.image-gallery {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
}

.image-container {
  position: relative;
  width: 350px;
  height: 450px;
  overflow: hidden;
  border-radius:16px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  border-radius: 16px;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;

  line-height: 2;
  font-family: "inter", sans-serif;
  border-radius: 16px;
}

.image-container .overlay h4{
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 27px;
}

.image-container .overlay p {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

.image-container:hover img {
  opacity: 0.6;
}

.image-container:hover .overlay {
  opacity: 1;
}
